<div class="identities">
  <ul class="list-group">
      {{#each @credentials as |credential|}}
          <LinkTo @route="credentials.credential" @model={{credential}}>
            <li class="list-group-item">
              <Credential @credential={{credential}}/>
            </li>
          </LinkTo>
      {{/each}}
  </ul>
</div>