{{#let @credential.manifest @credential.manifest.outputDescriptors.firstObject as |manifest od|}}
  <div class="row">
    <div class="col-2">
      {{#let od.styles.thumbnail as |thumbnail|}}
        <img src={{thumbnail.uri}} class="align-middle card-img-top" alt={{thumbnail.alt}}>
      {{/let}}
    </div>
    <div class="col-10">
      <div class="row">{{od.display.title.text}}</div>
      <div class="row">
        {{coalesce
          manifest.raw
          od.display.subtitle.path
          od.display.subtitle.fallback}}
      </div>
    </div>
  </div>
{{/let}}